@import "../../scss/variables";

.admin_header {
  background-image: linear-gradient(
    to right,
    rgba($color-primary-light, 0.5),
    rgba($color-primary-dark, 0.5)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0 2rem;

  &_home {
    justify-self: center;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: underline;
    // flex: 1;
  }

  &_content {
    align-self: center;
    justify-self: start;
  }
}

.admin_content {
  height: 6rem;
  background-color: $color-white;

  &_tab {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &_item {
      cursor: pointer;
      font-size: 1.5rem;
      text-transform: uppercase;
      border-bottom: 3px solid $color-gray-light;
    }

    &_active {
      border-bottom: 4px solid $color-primary-dark-3;
    }

    &_content {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.5),
        rgba($color-primary-dark, 0.5)
      );
      min-height: 70vh;
      justify-content: space-evenly;
    }
  }
}

.logout {
  font-size: 2rem;
  text-decoration: underline;
  cursor: pointer;
}
