@import "../../scss/variables";
@import "../../scss/mixins";

.form_input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: rgba($color-white, 0.5);
  border-bottom: 2px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.5s;

  &:focus {
    outline: none;
  }

  &:focus:invalid {
    border-bottom: 2px solid red;
  }

  &::-webkit-input-placeholder {
    color: $color-gray;
  }
}

.edit_label {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-gray;
  display: block;
  transition: all 0.5s;
}

.img_ctnr {
  text-align: center;
}

.blog_img {
  width: 75%;
  @include respond(big-desktop) {
    width: 50%;
  }
  @include respond(tab-land) {
    width: 60%;
  }
  @include respond(tab-port) {
    width: 70%;
  }
  @include respond(phone) {
    width: 80%;
  }
  @include respond(phone-small) {
    width: 85%;
  }
}
