@import "../../scss/variables";
@import "../../scss/mixins";

.header {
  height: 45rem;
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary-light, 0.5),
      rgba($color-primary-medium, 0.5)
    ),
    url("/assets/images/header_background_1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 1 2rem 1 rgba($color-black, 0.9);

  &_content {
    width: 70%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &_content_logo {
    background-image: url("/assets/images/header_logo.jpg");
    width: 10rem;
    height: 10rem;
    background-size: cover;
    display: inline-block;
    border-radius: 100%;
    margin-top: 5rem;
    transition: all 0.3s ease-in-out;
    animation: fromTop 1s ease-in-out;
    animation-fill-mode: backwards;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    }

    @include respond(tab-port) {
      width: 8rem;
      height: 8rem;
    }

    @include respond(phone) {
      width: 6rem;
      height: 6rem;
    }
  }

  &_content_h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 1.5rem;

    @include respond(tab-port) {
      font-size: 2rem;
    }

    &_span_1 {
      display: inline-block;
      animation: fromLeft 0.8s ease-in-out;
    }

    &_span_2 {
      @include respond(phone) {
        animation: none;
      }

      display: inline-block;
      animation: fromBottom 0.8s ease-in-out;
    }

    &_span_3 {
      display: inline-block;
      animation: fromRight 0.8s ease-in-out;
    }
  }

  &_nav {
    position: absolute;
    right: 0;
    color: $color-black;
    font-size: 3rem;
    font-weight: 400;
    margin-right: 2.4rem;
    margin-top: 1rem;
    // animation: toLeft 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;

    @include respond(tab-port) {
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
    }

    .nav {
      list-style: none;

      &_item {
        display: inline-block;
        margin-right: 1.5rem;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.05);

          &:not(:last-child) {
            text-decoration: underline adjust-color($color: $color-primary-dark);
            text-decoration-thickness: 2px;
          }
        }
      }

      @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    @include respond(tab-port) {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark-3
      );
      z-index: 100;
      margin: 0;
    }

    &_show {
      visibility: visible;
      opacity: 1;
      animation: fromRight 0.5s ease-in-out;
    }
  }

  &_hamburger {
    position: fixed;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    right: 4rem;
    top: 1rem;
    background-color: $color-white;
    visibility: hidden;
    z-index: 1001;
    opacity: 0;
    transition: all 1s;

    @include respond(tab-port) {
      visibility: visible;
      opacity: 1;
    }

    @include respond(phone) {
      width: 4rem;
      height: 4rem;
      right: 2rem;
      top: 2rem;
    }

    .icon {
      position: relative;
      margin-top: 2.5rem;
      margin-left: 1rem;

      @include respond(phone) {
        margin-top: 2rem;
      }

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-black;
        display: inline-block;

        @include respond(phone) {
          width: 2rem;
          height: 1.7px;
        }
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.8rem;

        @include respond(phone) {
          top: -0.6rem;
        }
      }
      &::after {
        top: 0.8rem;

        @include respond(phone) {
          top: 0.6rem;
        }
      }
    }

    .icon_close {
      background-color: transparent;
    }

    .icon_close::after {
      top: 0;
      transform: rotate(-135deg);
    }

    .icon_close::before {
      top: 0;
      transform: rotate(135deg);
    }
  }
}

.avatar {
  width: 5rem;
  background-image: url("/assets/images/me.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  // position: relative;
  // // height: 1rem;
  // &_img {
  //   width: 100%;
  //   height: 50%;
  // }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }
  50% {
    opacity: 0.5;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toLeft {
  0% {
    opacity: 1;
    transform: translateX(5rem);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

@include respond(phone) {
  .u_sep {
    display: none;
  }

  .header_content_h1_span_2 {
    display: block;
  }
}
