@import "../../scss/variables";

.blog {
  min-height: 100vh;
  // border: 1px solid red;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.5),
    rgba($color-primary-dark-3, 0.5)
  );
}

.header {
  border-bottom: 1px solid $color-gray-light;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create_btn {
  background-color: $color-primary-dark-3;
  color: $color-white;
  border: none;
  border-radius: 5px;
  padding: 0 2rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: translateY(-2px);
  }

  .create_icon {
    font-size: 2rem;
    padding-right: 5px;
  }
}

.home {
  font-size: 2rem;
  font-weight: 300;
  color: $color-primary-dark-3;
  cursor: pointer;
  padding-right: 1.5rem;
}

li.blogs_list {
  list-style: none;
  height: 2rem;
  background-color: $color-primary-light;
  width: 80%;
  margin: 2px auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 2rem;
  font-size: 1.6rem;
}

.head_list {
  border-bottom: 1px solid $color-primary-dark-3;
  margin: 5px auto;
  cursor: default;
  display: flex;
  align-items: center;
}

.head_list_blog {
  flex-basis: 70%;
  flex-grow: 0;
  flex-shrink: 0;
}

.head_list_user {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
