@import "../../scss/variables";
@import "../../scss/mixins";

.container {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.5),
    rgba($color-primary-dark-3, 0.5)
  );
  min-height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-size: 3rem;
  color: $color-primary-dark-3;
  @include respond(tab-port) {
    font-size: 2rem;
  }

  @include respond(phone) {
    font-size: 1.5rem;
  }
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: $color-primary-dark-3;
  color: $color-white;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: translateY(-2px);
  }

  @include respond(tab-port) {
    padding: 0.5rem 1rem;
  }

  @include respond(phone) {
    padding: 0.25rem 0.5rem;
  }
}

.add_blog_control {
  text-align: center;
}

.types {
  // display: inline-block;
  margin-right: 2rem;
  font-size: 1.6rem;
}

.select {
  width: 15em;
  height: 2em;
  overflow: hidden;
  border: none;
  appearance: none;
  outline: 0;
  background: $color-primary-light;
  cursor: pointer;
  border-radius: 3px;
  padding-left: 0.5rem;
  margin-bottom: 1.5rem;

  @include respond(tab-port) {
    width: 10em;
  }
}

.form_label {
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-gray;
  display: block;
  margin-top: 0.5rem;
  margin-left: 2rem;
  transition: all 0.5s;
}

.blog_contents {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid transparent;
  // display: block;
  transition: all 0.5s;
  width: 60%;

  &:focus {
    outline: none;
  }

  @include respond(tab-land) {
    width: 80%;
  }
}

.add_content {
  margin: 0.5rem auto;
  padding: 1rem 5rem;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    padding: 0.5rem 3rem;
  }
}

.submit_blog_container {
  padding: 2rem 0;
}

.submit_blog {
  margin: 0 auto;
  padding: 1.5rem 5rem;

  @include respond(tab-port) {
    padding: 1rem 3rem;
  }
}

.blog_field_content {
  position: relative;
  min-height: 5rem;
  background-color: $color-white;
  width: 80%;
  margin: 0.2rem auto;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5px;
}

.remove_btn {
  position: absolute;
  right: 1rem;
  top: 2px;
  font-size: 2rem;
  cursor: pointer;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back {
    font-size: 2.5rem;
    font-weight: 300;
    color: $color-primary-dark-3;
    cursor: pointer;
    padding-left: 1.5rem;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }

  .home {
    font-size: 2.5rem;
    font-weight: 300;
    color: $color-primary-dark-3;
    cursor: pointer;
    padding-right: 1.5rem;
    @include respond(tab-port) {
      font-size: 1.8rem;
    }
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
}

.note {
  font-size: 1.2rem;
  margin-bottom: 2px;
  @include respond(phone) {
    font-size: 1rem;
  }
}
