@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone-too-small {
    @media only screen and (max-width: 29.125em) {
      @content;
    } //466px
  }

  @if $breakpoint == phone-small {
    @media only screen and (max-width: 32.5em) {
      @content;
    } //520px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 76em) {
      @content;
    } //1800
  }
}

//header icon manager

@mixin headerIcon($icon) {
  @include respond(tab-port) {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      width: 2rem;
      height: 2rem;
      -webkit-mask-image: url($icon);
      -webkit-mask-size: cover;
      mask-image: url($icon);
      mask-size: cover;
      // font-size: 5rem;
      background-color: rgba($color-primary-dark-3, 0.5);
      left: -2.5rem;

      @include respond(tab-port) {
        left: -3rem;
      }
    }
  }
}
