// COLOR SYSTEM
// ##############################################################

$color-primary-light: #e2fdff;
$color-primary-medium: #bfd7ff;
$color-primary-dark: #9bb1ff;
$color-primary-dark-2: #788bff;
$color-primary-dark-3: #5465ff;

$text-color: #000;
$color-gray: rgb(85, 83, 83);
$color-gray-light: rgb(179, 177, 177);
$color-black: #000;
$color-white: #fff;
